.body{
  background-color: grey;
}
.main{
  display: flex;
  flex-direction: row;
}
.slide{
  flex:1;
}
.editor{
  flex: 4;
}
.folderDiv{
  flex:1;
}
.button{
  margin-top: 4% !important;
  margin-left: 2% !important;
  background-color: black !important;
  color:white !important;
}

